<h1><%= Restaurant.name %></h1>
<ul>
  <li>Address: <%= Restaurant.address %></li>
  <li>Category: <%= Restaurant.category %></li>
  <li>Rating: <%= Restaurant.rating %></li>
</ul>
<button>Write a Review</button>
